.NewTodoForm {
    width: 80%;
    margin: auto;
}

.NewTodoForm-input {
    border: none;
    background: #e6e6e6;
    margin-left: 0.3rem;
    border-radius: 5px;
    padding: 0.3rem;
}

.NewTodoForm label, .NewTodoForm button, .NewTodoForm-input {
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5rem;
}

.NewTodoForm button {
    background: rgb(17, 132, 226);
    border: none;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}